# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & test output
*.log
.coverage
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store

# Project-specific
output/